@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background: white;
    background-image: radial-gradient(cornflowerblue 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}
